* {
    font-family: 'Josefin Sans', sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

.App {
    display: grid;
    text-align: center;
    font-weight: 400;
    font-size: 45px;
}

.card-container {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.search-content {
    display: flex;
    gap: 1rem;
}



.MuiOutlinedInput-notchedOutline {
    color: #fff !important;
    border: solid 2px black !important;
}
.MuiOutlinedInput-notchedOutline span {
   color: #fff !important;
}

@media screen and (min-width: 700px) {
    .card-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
